.footer {
    display: flex;
    justify-content: center;
    color: #666;
    margin: 50px 0px;
  
    img {
      width: 24px;
      height: 24px;
    }
  
    .container {
      width: 1400px;
      .top {
        display: flex;
        justify-content: space-between;
        .item {
          display: flex;
          flex-direction: column;
          gap: 20px;
          h2 {
            font-size: 16px;
            color: #555;
          }
          span {
            font-weight: 300;
          }
        }
      }
  
      hr {
        margin: 50px 0px;
        height: 0;
        border: 1px solid #ebe9e9;
      }
      .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        .left {
          width: max-content;
          display: flex;
          align-items: center;
          gap: 20px;
  
          span {
            font-size: 13px;
            white-space: nowrap;
          }
        }
        .right {
          width: max-content;
          display: flex;
          align-items: center;
          gap: 30px;
  
          .social {
            display: flex;
            gap: 20px;
          }
  
          .link {
            display: flex;
            align-items: center;
            gap: 10px;
          }
        }
      }
    }
  }



  .buttonui {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: black;
    z-index: 1;
   }
   
   .buttonui:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .buttonui:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #40798c;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .buttonui:hover {
    color: #ffffff;
    border: 1px solid #40798c;
   }
   
   .buttonui:hover:before {
    top: -35%;
    background-color: #40798c;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
   
   .buttonui:hover:after {
    top: -45%;
    background-color: #40798c;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }