.trustedBy {
    background-color: #ffffff;
    height: 100px;
    display: flex;
    justify-content: center;
  
    .container {
      max-width: 760px;
      display: flex;
      padding-top: 8%;
      align-items: center;
      // gap: 10px;
      color: rgb(5, 0, 0);
      font-weight: 500;
      font-size: 72px;
      // img{
      //   height: 50px;
      //   object-fit: contain;
      // }
    }
  }